<%- include("partials/header") %>

    <body>
        <div class="div-flex-col">
            <form class="form-flex-col form-custom-path-create" action="\custompath" method="post">
                <p>Write your name</p>
                <input class="" name="custompathName" type="text" placeholder="Your name" required />
                <button class="btn-black" type="submit" name="createpath" value="1">Next</button>
                <a href="/">Home</a>
            </form>
        </div>
    </body>

    <%- include("partials/footer") %>