<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Sacramento&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 0;
            background-color: #cccccc;
            font-family: 'Montserrat', sans-serif;
        }

        table {
            border-spacing: 0;
        }

        td {
            padding: 0;
        }

        h2 {
            font-weight: 400;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #cccccc;
            padding-bottom: 60px;
        }

        .main {
            background-color: #fff;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-spacing: 0;
            color: #000;
            border-top: 8px solid #000;
        }

        .logo-h1 {
            border-bottom: 1px solid #DDDDDD;
            font-size: 48px;
            font-family: 'Dancing Script', cursive;
            display: inline-block;
        }

        .bg-black {
            background-color: #000;
            color: #fff;
        }
    </style>

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <center class="wrapper">
        <table class="main" width="100%">
            <tbody width="100%">
                <tr width="100%">
                    <td style="text-align: center;" width=" 100%" align="center">
                        <table class="header" width="100%" align="center">
                            <tbody width="100%" align="center">
                                <tr width="100%" align="center">
                                    <td width="100%" align="center">
                                        <a href="#" style="text-decoration: none;color:inherit;text-align: center;">
                                            <h1 class="logo-h1"><img style="object-fit: contain;width: 120px;"
                                                    src="https://drive.google.com/uc?export=view&id=1PHn1c9Wz4Tt8g6aEglwaDGiyqs4nul0N" />
                                            </h1>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table width="100%" style="margin: 0 8px 0 8px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 style="margin: 0;">Hello <b>
                                                <%= name %>
                                            </b>,</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="width: 100%;">
                                            Thank you for writing to us.<br>
                                            Your message was successfully delivered to us.
                                            <br>
                                            <br>
                                            <b>Your message </b>:<br>
                                            <%= message %>
                                                <br>
                                                <br>
                                                <br>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <table class="bg-black" width="100%" align="center"
                            style="text-align: center;min-height: 100px;padding: 10px 0;min-width:100%">
                            <tbody style="margin: 10px 0;">
                                <tr>
                                    <td>
                                        <p style="margin: 0;">Contact email -</p>
                                        <a href="mailto:secrets.mail.ra@gmail.com"
                                            style="color: inherit">secrets.mail.ra@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px; opacity: 70%;">If you have any queries feel free to
                                            contact us.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>

    <script src="" async defer></script>
</body>

</html>